{% trans_default_domain 'XactCommandScheduler' %}
<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale', 'en') }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Command Scheduler</title>
		<link href="{{ asset('bundles/xactcommandscheduler/css/bootstrap.min.css') }}" rel="stylesheet">
		<script type="text/javascript" src="{{ asset('bundles/xactcommandscheduler/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/xactcommandscheduler/js/fontawesome/all.js') }}"></script>
	</head>
	<body>
		<div class="jumbotron mt-5">
			<div
				class="container-fluid">
				<!-- Example row of columns -->
				<div class="row">
					<div class="col-md-12">
						<h2>
							{% block title %}{% endblock title %}
						</h2>

						{# Succes flash messages #}
						{% for flashMessage in app.session.flashbag.get('success') %}
							<div class="alert alert-success" role="alert">
								{{ flashMessage }}
							</div>
						{% endfor %}

						{# Errors flash messages #}
						{% for flashMessage in app.session.flashbag.get('error') %}
							<div class="alert alert-danger" role="alert">
								{{ flashMessage }}
							</div>
						{% endfor %}

						{% block content %}{% endblock content %}
					</div>
				</div>
				<hr>
				<!--
				        <footer>
				            <p>&copy; Company</p>
				        </footer>
				        -->
			</div>
		</div>
		<!-- /container -->

		<script type="text/javascript" src="{{ asset('bundles/xactcommandscheduler/js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>
